* {
    padding: 0;
    margin: 0;
    margin-top: 01%;
    box-sizing: border-box;
    
}

.main{
    display: grid;

    grid-template-columns:1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.2fr;
    column-gap: 1rem;
    row-gap: 1rem;
    text-align: center;
}
.main div{
    /* background-color: rgb(196, 178, 193); */
    background: linear-gradient(rgb(240, 240, 223),rgb(219, 219, 107));

    margin: 04%;
    padding: 02%;
}

.main div ul li{
    list-style: none;
    text-align: center
}
h2{
    text-align: center;
}
.alive{
    display: grid;
    
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        text-align: center;
}
.alive div{
background: linear-gradient(rgb(223, 223, 226), rgb(103, 153, 228));

    margin: 06%;
    padding: 04%;
}
.alive div ul li {
    list-style: none;
    text-align: center
}
@media screen {
    
}





